@font-face {
    font-family: 'Spyscape';
    src: url('../fonts/spyscape-regular-webfont.woff2') format('woff2'),
         url('../fonts/spyscape-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spyscape Redacted One';
    src: url('../fonts/spyscaperedactedone-regular-webfont.woff2') format('woff2'),
         url('../fonts/spyscaperedactedone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
