doctype html
html(lang='en')
  head
    title= Docs
    meta(charset='utf-8')

    link(href='dist/main.css', media='screen', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet')
  body
    nav.navbar.navbar-toggleable-md.navbar-inverse.bg-inverse.mb-5
      .container
        button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNavDropdown')
          span.navbar-toggler-icon

        a.navbar-brand(href='#')
          include images/logos/logomark-white.svg

        #navbarNavDropdown.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='#') Home
            li.nav-item
              a.nav-link(href='#') Features
            li.nav-item
              a.nav-link(href='#') Pricing
          ul.navbar-nav
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#') Dan Hart
              .dropdown-menu
                a.dropdown-item(href="#") Logout

    .ss-pageheader
      .container
        h1.display-1 Hero title
        p.lead hero text

    main#content
      .container
        h1 Typography
        p Paragraph text. Vivamus sagittis lacus vel augue laoreet rutrum
          a(href="/test") faucibus dolor auctor.
          Duis mollis, est non commodo luctus.

        h2 Headings
        h1 h1. heading
        h2 h2. heading
        h3 h3. heading
        h4 h4. heading
        h5 h5. heading
        h6 h6. heading

        h2 Display headings
        h1.display-1 Display 1
        h1.display-2 Display 2
        h1.display-3 Display 3
        h1.display-4 Display 4

        h2 Lead paragraph
        p.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.

        h1 Colours
        p.text-muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
        p.text-primary Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
        p.text-success Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
        p.text-info Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
        p.text-warning Nullam id dolor id nibh ultricies vehicula ut id elit.
        p.text-danger Nullam id dolor id nibh ultricies vehicula ut id elit.
        p.text-white Duis mollis, est non commodo luctus, nisi erat porttitor ligula.

        p.text-white.bg-gray Duis mollis, est non commodo luctus, nisi erat porttitor ligula.

        h1 Jumbotron
        .jumbotron
          h1.display-3 Hello, world!
          p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
          hr.my-4
          p It uses utility classes for typography and spacing to space content out within the larger container.
          p.lead
            a.btn.btn-primary.btn-lg(href="#", role="button") Learn more

        .row
          .col
            h1 London Adjaye

            p.mb-5
              a(href="https://maps.google.com/maps?q=51.5186625,-0.1662372000000687&amp;hl=es;z=14&amp;output=embed") 233-237 Old Marylebone Rd, Marylebone, London NW1 5QT, UK

            section.mb-4
              h4 How to get here
              p The nearest tube to the office is Edgware Road Tube Station (Hammersmith&amp;City, Circle and District lines). However it is only a short walk from Marble Arch (Central Line).

            section.mb-4
              h4 Building information
              p The upstairs 2nd floor meeting room can be booked by emailing Adjaye’s receptionist Naomi (<a href="mailto:naomi@adjaye.com" target="_blank">naomi@adjaye.com</a>) and copying in Erica - Adjaye’s Studio Manager (<a href="mailto:erica.white@adjaye.com" target="_blank">erica.white@adjaye.com</a>). If you really need another room you can ask to use one of their meeting rooms downstairs. Please do contact Erica with any issues with fixtures, lights, windows, heating, plumbing etc.
              p Miranda has a fob for you to get into the building. We need to remember to keep the door shut to the second floor. If you’re the last one out at night shut the windows and check the fire escape is shut.
              p Our
                strong Wifi network
                is Archimedia5 (faster, for newer devices) or Archimedia (for old devices), Password is
                strong sPy5caPE
              p Remember we are in Adjay Associates offices... We’re very lucky to be guests in this office! So we need to be extra good at tidying up the kitchen, emptying the dishwasher, etc.

            section.mb-4
              h4 Local information
              p
                a(href="https://docs.google.com/document/d/1QX_7xJ90JVRfz2OPbvXJuSIDwdyBi7Gv_n7koXAEzpE/edit") Shared Google Doc

          .col
            iframe(width="100%", height="500", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://maps.google.com/maps?q=51.5186625,-0.1662372000000687&amp;hl=es;z=14&amp;output=embed")

        .card.mb-3
          img.card-img-top(src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22769%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20769%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15a1e5aba79%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A38pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15a1e5aba79%22%3E%3Crect%20width%3D%22769%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22287.3046875%22%20y%3D%22107.4%22%3E769x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E", style="height: 180px; width: 100%; display: block;")
          .card-block
            h4.card-title Card title
            p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            p.card-text
              small.text-muted Last updated 3 mins ago

        nav
          ul.pagination
            li.page-item
              a.page-link(href="#")
                span &laquo;
            li.page-item
              a.page-link(href="#") 1
            li.page-item
              a.page-link(href="#") 2
            li.page-item
              a.page-link(href="#") 3
            li.page-item
              a.page-link(href="#")
                span &raquo;
