@font-face {
    font-family: 'Spyscape';
    src: url('https://d1u6rdq748d7cc.cloudfront.net/fonts/spyscape-regular-webfont.woff2') format('woff2'),
         url('https://d1u6rdq748d7cc.cloudfront.net/fonts/spyscape-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spyscape Redacted One';
    src: url('https://d1u6rdq748d7cc.cloudfront.net/fonts/spyscaperedactedone-regular-webfont.woff2') format('woff2'),
         url('https://d1u6rdq748d7cc.cloudfront.net/fonts/spyscaperedactedone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
