@import "fonts";

.display-1, .display-2, .display-3, .display-4 {
  font-family: $display-font-family;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}

.headings-extended {
  font-family: $headings-extended-font-family;
  text-transform: uppercase;
}

.btn {
  font-size: $font-size-xs;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.navbar, .dropdown-menu {
  font-size:      $font-size-xs;
  text-transform: uppercase;
  letter-spacing: 0.1em;

  * {
    transition: all 0.25s;
  }
}

.navbar-toggleable-md {
  @include media-breakpoint-up(xs) {
    .navbar-nav {
      .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
      }
    }
  }
}

.navbar-brand {
  path {
    fill: white;
  }

  &:hover path {
    fill: $cyan;
  }
}

#logomark {
  height: 25px;
  display: block;
}

hr {
  margin-top: $spacer * 3;
  margin-bottom: $spacer * 3;
}

video {
  outline: none;
}
