// All available variables can be found at:
// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss
$spacer: 1rem;

$blue:   #0E1A2D;
$cyan:   #31A9E0;
$yellow: #BC982C;
$gray:   #3E3E3F;
$white:  #FFFFFF;

$enable-rounded:           true;
$enable-shadows:           false;
$enable-gradients:         false;
$enable-transitions:       true;
$enable-hover-media-query: false;
$enable-grid-classes:      true;
$enable-print-styles:      true;

$font-size-lg: 1.25rem;
$font-size-sm: .875rem;
$font-size-xs: .8rem;

$font-size-h1: 3.3rem;
$font-size-h2: 2.7rem;
$font-size-h3: 2.2rem;
$font-size-h4: 1.7rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

$line-height-base: 1.6;

// Create grayscale
$gray-dark:     darken($gray, 10%);
$gray-light:    lighten($gray, 45%);
$gray-lighter:  lighten($gray, 65%);
$gray-lightest: lighten($gray, 85%);

// Reassign color vars to semantic color scheme
$brand-primary: $cyan;
$brand-inverse: $blue;

$body-color:    lighten($gray, 7%);

$font-family-sans-serif: 'Avenir', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-weight-normal: normal;
$font-weight-bold: bold;

$headings-font-family: 'Spyscape', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-weight: normal;
$headings-color:       $gray;

$headings-extended-font-family: 'Spyscape Extended', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-extended-font-weight: normal;
$headings-extended-color:       $gray;

$display-font-family: 'Spyscape Redacted One', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$spyscape-redacted-two-font-family: 'Spyscape Redacted Two', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$display-weight: normal;
$display1-weight: $display-weight;
$display2-weight: $display-weight;
$display3-weight: $display-weight;
$display4-weight: $display-weight;

$link-color:       $brand-primary;
$link-hover-color: saturate(darken($link-color, 10%), 10%);

$btn-padding-x-sm:     1rem;
$btn-padding-x:        1.5rem;
$btn-padding-x-lg:     2rem;
$btn-padding-y-sm:     0;
$btn-padding-y:        .25rem;
$btn-padding-y-lg:     .5rem;

$btn-line-height:      30px;
$btn-font-weight:      $font-weight-bold;

$btn-border-radius:    0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

$navbar-padding-x: $spacer;
$navbar-padding-y: 0.8rem;

$navbar-inverse-color:       rgba($white,.6);
$navbar-inverse-hover-color: rgba($white,1);

$nav-link-padding: .5em 1em;

// Forms
$input-padding-x:                  1.14rem;
$input-padding-y:                  .81rem;
$input-border-color:               #1b1f2c;
$input-border-radius:              2px;
$input-border-focus:               $input-border-color;
$form-group-margin-bottom:         1.875rem;
$custom-select-color:              #fff;
$custom-select-bg:                 #767980;
$custom-select-indicator-color:    #fff;
$custom-select-border-color:       $custom-select-bg;
$custom-select-border-radius:      $input-border-radius;
$custom-select-focus-border-color: $custom-select-border-color;
$custom-select-focus-box-shadow:   none;
